ul{
    display: flex;
    list-style: none;
    gap: 1rem;
}
.top-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin-inline: auto;
}
header {
    color: white;
    background: linear-gradient(to left, rgb(172, 69, 86), rgb(100, 16, 100));  
}
.content-list {
    list-style:upper-roman;
}
aside {
    margin: 5rem;
}

main {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-inline: auto;
}
.li3 {
    text-decoration: underline;
    text-decoration-style: dotted;
    color: rgb(162, 18, 90);
}
.li2:hover {
    text-decoration: underline;
    color: rgb(130, 132, 130)
}
body {
    background: whitesmoke;
    margin: 0;
    font-family: sans-serif;
}

main { min-height:100vh;  }     

.contents-list {
    background-color: white;
    padding: 0rem;
    position: sticky;
    top:7rem;
    
}
.grid-row:nth-child(even) {
    background-color: rgb(205, 202, 202);
    padding: 3px;
}
.grid-row {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.list-name {
    padding: 1rem;
}
.li3 {
    padding: 0;
    margin: 0;
    margin-inline: -10;
}